.wrapper
  .chat__side
    =render partial: "shared/side_bar"
  .chat__main
    .main__header
      .main__header__left__box
        %h2(class='main__header__left__box__current__group')
          =@group.name
        %p(class='main__header__left__box__member__list') Member:
        %p(class='main__header__left__box__member__list__member')
          -@group.users.each do |user|
            =user.name
      .edit-btn
        =link_to "Edit",edit_group_path(current_user)
    .messages
      =render @message
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

